/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --color: #ff0070;
  --color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --decoration-color: var(--color);
  --background-color: #000028;
  --header-color_1: #db00ff;
  --header-color_2: var(--color);
  --header-color_3: var(--background-color);
  --is-light: visible;
}
