/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --color: #ff0070;
  --color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --colors: #000028;
  --color_button: var(--color);
  --decoration-color: var(--color);
  --header-color: #db00ff;
  --header-color_text: var(--color);
}
