/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --color: #ff8dcb;
  --color-opacity: #32312d66;
  --text-color: #353430;
  --colors: #353430;
  --color_button: var(--colors);
  --decoration-color: var(--text-color);
  --background-color: #fff1f7;
  --header-color: #ffc2e6;
  --header-color_text: var(--text-color);
  --is-light: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --color: #ff8dcb;
    --color-opacity: #32312d66;
    --text-color: #353430;
    --colors: #353430;
    --color_button: var(--colors);
    --decoration-color: var(--text-color);
    --background-color: #fff1f7;
    --header-color: #ffc2e6;
    --header-color_text: var(--text-color);
    --is-light: hidden;
    }
}