/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url("../images/cover-image-dark.png");
  --color: #ff0070;
  --color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --decoration-color: var(--color);
  --background-color: #000028;
  --colors: #000028;
  --header-color: #db00ff;
  --header-color_text: var(--color);
  --font-family: 'IBM Plex mono', monospace;
  --regular-font-size: 18px;
  --logo-size-mb: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --logo-size-dec: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --decoration-rec_mb: 10px;
  --decoration-rec: 20px;
  --min-height_mb: 668px;
  --min-height_content: 1024px;
  --min-height_deck: 768px;
  --small-line-height: 83%;
  --regular-line-height: 100%;
  --large-line-height: 130%;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --font-style: normal;
  --is-light: visible;
}

